@page
@model Presentacion.Pages.CrudRevision

<div class="big-container">
    <h1>Revisiones</h1>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        C. Cliente
                    </th>
                    <th>
                        C. Empleado
                    </th>
                    <th>
                        Placa
                    </th>
                    <th>
                        Aceite
                    </th>
                    <th>
                        Filtro Aire
                    </th>
                    <th>
                        Filtro Gasolina
                    </th>
                    <th>
                        Mantenimiento
                    </th>
                    <th>
                        Observaciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <form method="post">
                    @foreach (var revision in Model.revisiones)
                    {
                        <tr>
                            <td>@revision.Id</td>
                            <td>@revision.ClienteCedula</td>
                            <td>@revision.EmpleadoCedula</td>
                            <td>@revision.VehiculoPlaca</td>
                            <td>@revision.EstAceite</td>
                            <td>@revision.EstFiltroAire</td>
                            <td>@revision.EstFiltroGasolina</td>
                            <td>@revision.TipoMantenimiento</td>
                            <td>@revision.Observaciones</td>
                            <td class="al-right"><button asp-page-handler="Delete" asp-route-id="@revision.Id"
                                onclick="return confirm('¿Está seguro de eliminar esta revisión?')"
                                class="light-buttons">Eliminar</button></td>
                        </tr>
                    }
                </form>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="mini-containerA">
            <div>
                <h1>Registrar Revisión</h1>
            </div>
            <div class="shadow">
                <form method="post">
                    <input type="text" asp-for="NuevaRevision.ClienteCedula" placeholder="C. Cliente" required />
                    <input type="text" asp-for="NuevaRevision.EmpleadoCedula" placeholder="C. Empleado" required />
                    <input type="text" asp-for="NuevaRevision.VehiculoPlaca" placeholder="Placa" required />
                    <input type="text" asp-for="NuevaRevision.EstAceite" placeholder="Aceite" required />
                    <input type="text" asp-for="NuevaRevision.EstFiltroAire" placeholder="Filtro Aire" required />
                    <input type="text" asp-for="NuevaRevision.EstFiltroGasolina" placeholder="Filtro Gasolina"
                        required />
                    <input type="text" asp-for="NuevaRevision.TipoMantenimiento" placeholder="Mantenimiento" required />
                    <input type="text" asp-for="NuevaRevision.Observaciones" placeholder="Observaciones" required />
                    <button type="submit" class="no-light-buttons">Guardar</button>
                </form>
            </div>
        </div>
        <div class="mini-containerB">
            <div>
                <h1>Actualizar Revisión</h1>
            </div>

            <div class="shadow">
                <form method="post">
                    <input type="text" asp-for="RevisionEditar.Id" placeholder="Buscar por Id" required />
                    <input type="text" asp-for="RevisionEditar.ClienteCedula" placeholder="C.Cliente" required />
                    <input type="text" asp-for="RevisionEditar.EmpleadoCedula" placeholder="C. Empleado" required />
                    <input type="text" asp-for="RevisionEditar.VehiculoPlaca" placeholder="Placa" required />
                    <input type="text" asp-for="RevisionEditar.EstAceite" placeholder="Aceite" required />
                    <input type="text" asp-for="RevisionEditar.EstFiltroAire" placeholder="Filtro Aire" required />
                    <input type="text" asp-for="RevisionEditar.EstFiltroGasolina" placeholder="Filtro Gasolina"
                        required />
                    <input type="text" asp-for="RevisionEditar.TipoMantenimiento" placeholder="Mantenimiento"
                        required />
                    <input type="text" asp-for="RevisionEditar.Observaciones" placeholder="Observaciones" required />
                    <button type="submit" asp-page-handler="Edit" class="no-light-buttons">Editar</button>
                </form>

            </div>
        </div>
    </div>
</div>