@page
@model Presentacion.Pages.CrudVehiculo

<div class="big-container">
    <h1>Vehiculos</h1>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Placa
                    </th>
                    <th>
                        Cedula
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Color
                    </th>
                </tr>
            </thead>
            <tbody>
                <form method="post">
                    @foreach (var vehiculo in Model.vehiculos)
                    {
                        <tr>
                            <td>@vehiculo.Id</td>
                            <td>@vehiculo.Tipo</td>
                            <td>@vehiculo.Placa</td>
                            <td>@vehiculo.CliCedula</td>
                            <td>@vehiculo.Marca</td>
                            <td>@vehiculo.Modelo</td>
                            <td>@vehiculo.Color</td>
                            <td class="al-right"><button asp-page-handler="Delete" asp-route-id="@vehiculo.Id"
                                onclick="return confirm('¿Está seguro de eliminar este vehículo?')"
                                class="light-buttons">Eliminar</button></td>
                        </tr>
                    }
                </form>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="mini-containerA">
            <div>
                <h1>Registrar Vehiculo</h1>
            </div>
            <div class="shadow">
                <form method="post" class="overflow">
                    <input type="text" asp-for="NuevoVehiculo.Tipo" placeholder="Tipo" required />
                    <input type="text" asp-for="NuevoVehiculo.Placa" placeholder="Placa" required />
                    <input type="text" asp-for="NuevoVehiculo.CliCedula" placeholder="Cedula" required />
                    <input type="text" asp-for="NuevoVehiculo.Marca" placeholder="Marca" required />
                    <input type="text" asp-for="NuevoVehiculo.Modelo" placeholder="Modelo" required />
                    <input type="text" asp-for="NuevoVehiculo.Color" placeholder="Color" required />
                    <button type="submit" class="no-light-buttons">Guardar</button>
                </form>
            </div>
        </div>
        <div class="mini-containerB">
            <div>
                <h1>Actualizar Vehiculo</h1>
            </div>

            <div class="shadow">
                <form method="post" class="overflow">
                    <input type="text" asp-for="VehiculoEditar.Placa" placeholder="Buscar por Placa" required />
                    <input type="text" asp-for="VehiculoEditar.Tipo" placeholder="Tipo" required />
                    <input type="text" asp-for="VehiculoEditar.CliCedula" placeholder="Cedula" required />
                    <input type="text" asp-for="VehiculoEditar.Marca" placeholder="Marca" required />
                    <input type="text" asp-for="VehiculoEditar.Modelo" placeholder="Modelo" required />
                    <input type="text" asp-for="VehiculoEditar.Color" placeholder="Color" required />
                    <button type="submit" asp-page-handler="Edit" class="no-light-buttons">Editar</button>
                </form>

            </div>
        </div>
    </div>
</div>