@page
@model Presentacion.Pages.CrudOrdenes

<div class="big-container">
    <h1>Ordenes de Servicio</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    RevId
                </th>
                <th>
                    EmpCedula
                </th>
                <th>
                    ActSoftware
                </th>
                <th>
                    InstRepuestos
                </th>
                <th>
                    CostoRespuestos
                </th>
                <th>
                    CostoServicio
                </th>
                <th>
                    TotalPagar
                </th>
                <th>
                    Observaciones
                </th>
            </tr>
        </thead>
        <tbody>
            <form method="post">
                @foreach (var orden in Model.ordenes)
                {
                    <tr>
                        <td>@orden.Id</td>
                        <td>@orden.RevId</td>
                        <td>@orden.EmpCedula</td>
                        <td>@orden.ActSoftware</td>
                        <td>@orden.InstRepuestos</td>
                        <td>@orden.CostoRespuestos</td>
                        <td>@orden.CostoServicio</td>
                        <td>@orden.TotalPagar</td>
                        <td>@orden.Observaciones</td>

                        <td class="al-right"><button asp-page-handler="Delete" asp-route-id="@orden.Id"
                            onclick="return confirm('¿Está seguro de eliminar esta orden?')"
                            class="light-buttons">Eliminar</button></td>
                    </tr>
                }
            </form>
        </tbody>
    </table>

    <hr>
    <h1>Crear Orden de Servicio</h1>
    <div class="shadow">
        <form method="post">
            <input type="text" asp-for="NuevaOrden.RevId" placeholder="Id Revision" required />
            <input type="text" asp-for="NuevaOrden.EmpCedula" placeholder="C.C. Empleado" required />
            <input type="text" asp-for="NuevaOrden.ActSoftware" placeholder="Actualización Software" required />
            <input type="text" asp-for="NuevaOrden.InstRepuestos" placeholder="Instalación Repuestos" required />
            <input type="text" asp-for="NuevaOrden.CostoRespuestos" placeholder="Costo Repuestos" required />
            <input type="text" asp-for="NuevaOrden.CostoServicio" placeholder="Costo Servicio" required />
            <input type="text" asp-for="NuevaOrden.TotalPagar" placeholder="Total a Pagar" required />
            <input type="text" asp-for="NuevaOrden.Observaciones" placeholder="Observaciones" required />
            <button type="submit" class="no-light-buttons">Guardar</button>
        </form>
    </div>

    <hr>
    <h1>Actualizar Orden de Servicio</h1>
    <div class="shadow">
        <form method="post">
            <input type="text" asp-for="OrdenEditar.RevId" placeholder="Buscar Id revision" required />
            <input type="text" asp-for="OrdenEditar.EmpCedula" placeholder="C.C. Empleado" required />
            <input type="text" asp-for="OrdenEditar.ActSoftware" placeholder="Actualización Software" required />
            <input type="text" asp-for="OrdenEditar.InstRepuestos" placeholder="Instalación Repuestos" required />
            <input type="text" asp-for="OrdenEditar.CostoRespuestos" placeholder="Costo Repuestos" required />
            <input type="text" asp-for="OrdenEditar.CostoServicio" placeholder="Costo Servicio" required />
            <input type="text" asp-for="OrdenEditar.TotalPagar" placeholder="Total a Pagar" required />
            <input type="text" asp-for="OrdenEditar.Observaciones" placeholder="Observaciones" required />
            <button type="submit" asp-page-handler="Edit" class="no-light-buttons">Editar</button>
        </form>

    </div>
</div>



<style>
    * {
        font-family: 'Roboto', sans-serif;
    }

    .big-container {width: 70%;}

    h1 {
        padding: 5px;
        background-color: DodgerBlue;
        color: white;
        font-size: 23px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .light-buttons {
        padding: 2px 10px;
        background-color: DodgerBlue;
        color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 1px 10px DodgerBlue;
        margin: 7px 10px;
    }

    .no-light-buttons {
        padding-top: 2px;
        background-color: DodgerBlue;
        color: white;
        border: none;
        border-radius: 5px;
    }

    .light-buttons:hover {
        background-color: Navy;
        color: white;
    }

    .no-light-buttons:hover {
        background-color: Navy;
        color: white;
    }

    th {
        color: navy;
        padding: 5px;
        text-align: center;
    }

    td {text-align: center;}

    hr {border-top: 1px solid rgba(0, 0, 0, 0.4);}

    .al-right {text-align: right;}

    table {
        box-shadow: 0px 1px 10px DodgerBlue;
        border-radius: 15px;
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .shadow {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        box-shadow: 0px 1px 10px DodgerBlue !important;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .shadow form input {margin: 0px 2px;}

    .shadow form button {
        display: block;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 0px;
        border-radius: 10px;
    }

    tbody {padding: 15px 30px;}

</style>