@page
@model Presentacion.Pages.CrudClienteModel
@{
}
<table class="table">
    <h1>Tabla de usuarios Clientes: Obtenida desde la base de datos</h1>
    <thead>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Cedula
        </th>
        <th>
            Telefono
        </th>
        <th>
            Direccion
        </th>
        <th>
            Correo
        </th>
        <th>
            Acciones
        </th>        
    </thead>
<form method = "post"> 
    @foreach (var cliente in Model.clientes)
    {
        <tr>
            <td>@cliente.Id</td>
            <td>@cliente.Nombre</td>
            <td>@cliente.Apellido</td>
            <td>@cliente.Cedula</td>
            <td>@cliente.Telefono</td>
            <td>@cliente.Direccion</td>
            <td>@cliente.Correo</td>
            <td><button asp-page-handler="Delete" asp-route-id="@cliente.Id" onclick="return confirm('¿Está seguro de eliminar este cliente?')" class="btn btn-danger">Eliminar</button></td>
            <td><button asp-page-handler="" asp-route-id="@cliente.Id" onclick=""class="btn btn-primary">Editar</button></td>
        </tr>
    }
</form>

</table>

<hr>

<div class="form-container">
    <form method = "post" class="new-client">
        <input type="text" asp-for="NuevoCliente.Nombre" placeholder="Nombres"/>
        <input type="text" asp-for="NuevoCliente.Apellido" placeholder="Apellidos"/>
        <input type="text" asp-for="NuevoCliente.Cedula" placeholder="Cedula"/>
        <input type="text" asp-for="NuevoCliente.Telefono" placeholder="Telefono"/>
        <input type="text" asp-for="NuevoCliente.Direccion" placeholder="Dirección"/>
        <input type="email" asp-for="NuevoCliente.Correo" placeholder="Correo"/>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
